html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(rgba(115, 198, 203, 0.5), rgba(115, 198, 203, 0.5)), url("/images/BandeauLis.png");
    background-repeat: no-repeat;
    background-position: right 5% top 5%;

    text-align: center;
}

ol {
    text-align: left;
}

h1,h2,h3,h4, form, input, a {
}